/* .home{
    height:100vh;
    background-color: #000;
    background-image: url(https://www.technochez.com/img/ecommerce.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: centerd;
    width:100%;
    
    top:0;
    left:0;
   
} */